#skills {
    height: 100vh;
}

.skill__container {
    padding: 0 0 1rem 0;
    background: rgba(56, 55, 56, 0.2);
    width: 85%;
    border-radius: 2.4rem;
    padding: 2rem 2rem;
    line-height: 3;
    border: 2px solid rgb(253, 8, 253);
    text-align: center;
    margin: 0 auto;
    
}

.skill_slider {
    width: 60%;
    margin: 0 auto;

}
.skill_content img {
    width: 60%;
}
.skill_content h3 {
    text-transform: uppercase;
}

@media  screen and (max-width:600px) {
 .skill__container {
    margin-top: 70%;
   
 }   
 
}