header{
    background: rgb(41, 31, 37);
    height: 100vh;
}

.home__container2 {
    display: flex;
    justify-content: space-around;
    align-items: center;
}

.home__image img {
    width: 670px;
    border-radius: 50%;
    height: 560px;
    margin-left: 43px;
    animation: slowbounce 3s linear infinite;

}   
@keyframes slowbounce {
    0% {
        transform: translateY(-25px);
    }
    50% {
        transform: translateY(25px);
    }
    100% {
        transform: translateY(-25px);
    }
}
.home__info {
    margin-left: 6rem;
    
}
h1 {
    font-weight: 700;
}
.home__info p {
    margin-top: 1rem;
    font-size: 1.3rem;
    font-weight: 400;
    line-height: 2rem;
}
.home__info small {
    /* display: block; */
    margin-left: 2rem;
    font-style: italic;
}
h2 {
    margin-top: 2rem;
    font-weight: 400;
}
.cta {
    font-size: 1.3rem;
    display: inline;
}

.cta a {
    color: rgb(114, 49, 145);
    font-size: 1.4rem;
    margin-left: 1rem;
}
@media screen and (max-width: 600px) {
    .home__container2 {
        display: block;
        margin: 0 auto;
        width: 90%;
    }
    .home__info {
        line-height: 4rem;
        text-align: center;
        
    }
    .home__info h1 {
        font-size: 3rem;
        margin-bottom: 3rem;
    }
    
    .home__info q {
        font-size: 1.3rem;
        line-height: 2rem;
    }
    
    .home__image img {
        margin: 0;
        height: 350px;
        margin-top: 2rem;
        animation: none;
    }
    
}

@media screen and (max-width: 1024px) {
    .home__container2 {
        display: block;
        width: 87%;
        margin: 0 auto;
    }
    .home__image img {
        width: 70%;
        margin-left: 17%;
        animation: none;
    }
    .home__info {
        margin: 0;
        line-height: 7rem;
    }
    .home__info h1,h2,p {
        text-align: center;
    }
    
    .home__info p {
        margin-top: 2rem;
        font-size: 2rem;
        line-height: 1.2;
    }
}