nav {
    width: max-content;
    /* background: rgba(0, 0, 0, 0.3); */
    backdrop-filter: blur(12px);
    background: rgba(44, 43, 44, 0.3);
    padding: 1.3rem 1.5rem;
    position: fixed;
    left: 50%;
    transform: translateX(-50%);
    z-index: 4;
    display: flex;
    border-radius: 2rem;
    /* top: 2rem; */
    bottom: 3rem;
    gap: 3rem;

}
nav a {
    color: rgb(203, 187, 218);
    font-size: 1.4rem;
    background: transparent;
    border-radius: 50%;
    padding: 0.2rem;
}

nav a:hover {
    background-color: rgba(0, 0, 0, 0.3);
}
nav .active {
    background: rgba(0, 0, 0, 0.8);
    color: blueviolet;
}