#contact {
    background: rgba(50, 48, 51, 0.5);
   
   
}
.contact__container {
    display: flex;
    padding: 2rem;
    
}
.form {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 1rem;
}
.form > :nth-child(5) {
    grid-column: span 2;
}

button {
    color: bisque;
    text-transform: uppercase;
    font-family: inherit;
    font-size: 1rem;
    border-radius: .5rem;
}
input, textarea {
    width: 100%;
    background: transparent;
    border: 2px solid purple;
    border-radius: 1.2rem;
    padding: 1.5rem;
    resize: none;
    color: bisque;
}
textarea {
    height: 15rem;
    line-height: 1.3rem;
}
@media screen and (max-width:1024px) {
    .contact__container {
        display: grid;
        grid-template-columns: 1fr;
        margin: 0 auto;
    
    }
    .form {
        display: flex;
        flex-direction: column;
    }
    
}

@media screen and (max-width:600px) {
    .contact__container {
        width: 90%;
    }
    textarea {
        height: 10rem;
    }
   
}

@media screen and (max-width:1024px) {
    .contact__image img {
        width: 65%;
        margin-left: 20%;
    }
    .form {
        margin-top: 10%;
    }
}