.about__container {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 0.5rem;
}

h3 {
    font-size: 1rem;
    font-size: 400;
}
h4 {
    font-size: 2rem;
    margin-bottom: 1.7rem;
}
.aboutme__content .freelancer  {
    color: blueviolet;
    display: inline;
}
.aboutme__content {
    line-height: 1.5rem;
}
.button {
    display: flex;
    gap: 0.7rem;
}

@media screen and (max-width:1024px) {
    .aboutme__container {
        line-height: 5rem;
    }
    .about__container {
        display: grid;
        width: 86%;
        justify-content: center;
        text-align: center;
        margin: 0 auto;
        position: relative;
    }
    .aboutme__content h3 {
        top: 0;
        left: 45%;
        position: absolute;
        text-align: center;
    }
    .aboutme__content p {
        text-align: justify;
        line-height: 2rem;
    }
    .aboutme__image img {
        margin-top: 2rem;
        width: 380px;
    }
    .button {
        gap: 2rem;
    }
    div#content {
        order: 1;
    }
}